body {
  font-family: "Istok Web", sans-serif;
}
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 50px;
}
.heading-span {
  font-size: 16px;
  color: #2c7ae7;
}
.heading-h2 {
  font-weight: 700;
  font-size: 32px;
  margin: 0px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  color: #3b3b44;
}

.card-social-medya ul {
  display: flex;
  gap: 10px;
  transition: 1s;
  position: relative;
}
.card-social-medya ul li {
  list-style-type: none;
}
.card-social-medya a {
  display: flex;
  color: blue;
  position: relative;
  left: 60px;
  bottom: 25px;
  color: white;
  padding: 7px 7px;
  background-color: #2c7ae7;
  border: 1px solid #2c7ae7;
  border-radius: 8px;
  opacity: 0;
  transition: 0.5s;
}
.card {
  border: 1px solid rgb(160, 157, 157);
  border-radius: 10px;
}
.card:hover {
  box-shadow: 0px 0px 10px gray;
}
.card-social-medya ul:hover a {
  opacity: 1;
}
.card-social-medya ul:hover a:hover {
  background-color: #e7d72c00;
  color: #2c7ae7;
}
.card-social-medya a:hover {
  background-color: #2c7ae7;
  color: white;
}

.card-info {
  text-align: center;
  padding: 22px 22px;
}
.card-info h4 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
}
.card-info p {
  color: #63636b;
  font-size: 16px;
}
.card img {
  width: 100%;
}

.btn {
  width: 250px;
  background: linear-gradient(to right, #568ad3 0, #0f58bd 100%);
  color: white;
  padding: 15px 22px;
  cursor: pointer;
  border: 1px #917cddec solid;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 40px;
  margin-top: 40px;
}
