* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading h2 {
  color: #3a4971;
  font-size: 40px;
  font-weight: 900;
}
.container {
  width: 80%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}
.card {
  display: flex;
  flex-direction: column;
}
.card img {
  width: 100%;
  height: 292px;
  object-fit: cover;
}
.meta {
  display: flex;
  align-items: center;
  gap: 15px;
}
.meta span{
  color: rgb(132, 133, 135);
}
.card-text {
  color: rgb(132, 133, 135);
  line-height: 23px;
  margin-bottom: 16px;
  margin-top: 25px;
}
.last-text {
  color: rgb(132, 133, 135);
}
.meta {
  margin-top: 16px;
}
.meta p {
  color: rgb(132, 133, 135);
}
.meta a {
  text-decoration: none;
  color: black;
}
.card-title {
  text-decoration: none;
  color: #3a4971;
  width: 300px;
  font-size: 20px;
  margin-top: 16px;
}
